[submodule "Lexicon"]
	path = Lexicon
	url = git@github.com:legioner9/Lexicon.git
	
[submodule "node_modules/st_require"]
	path = node_modules/st_require
	url = git@github.com:legioner9/st_require.git
